.icon-shift {
  background-color: #ece8ff;
  border-radius: 50%;
  color: #6439ff;
  margin: 20px 0 0 20px;
  padding: 10px;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  gap: 100px;
  justify-content: space-around;
  margin: 100px 100px 0 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center;

  .button {
    margin-top: 50px;
    background-color: #ece8ff;
    border-radius: 5px;
    border: none;
    color: #6439ff;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
  }

  /* .button:hover {
	} */
}
