.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .tableCell {
    color: #555;
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Connected {
      background-color: rgba(0, 128, 0, 0.05);
      color: green;
    }
    &.Disconnected {
      background-color: rgba(255, 217, 0, 0.05);
      color: goldenrod;
    }
  }
}
